<div class="grid-container">
  <div class="grid-item grid-item-1"></div>
  <div class="grid-item grid-item-2"></div>
  <div class="grid-item grid-item-3"></div>
  <div class="grid-item grid-item-4"></div>
  <div class="grid-item grid-item-5"></div>
  <div class="grid-item grid-item-6"></div>
  <div class="grid-item grid-item-7"></div>
  <div class="grid-item grid-item-8 center-block">
    <button class="grid-button">
      <div class="grid-button-container">
        <h1 class="buy-button-text">
          <span>buy</span>
          <span>this</span>
        </h1>
        <h1 class="save-button-text">Saved</h1>
        <svg id="Layer_1" class="pointer" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" width="410.37" height="515.23" viewBox="0 0 410.37 515.23">
          <path d="M284.36,461.24h0a40.93,40.93,0,0,1-57.15-9.17L110.66,291a40.93,40.93,0,0,1,9.17-57.15h0A40.93,40.93,0,0,1,177,243L293.53,404.09A40.92,40.92,0,0,1,284.36,461.24Z" transform="translate(-102.89)"/>
          <path d="M257.66,332.56h0a38.11,38.11,0,0,1-38.11-38.11V38.11A38.11,38.11,0,0,1,257.66,0h0a38.11,38.11,0,0,1,38.11,38.11V294.46A38.1,38.1,0,0,1,257.66,332.56Z" transform="translate(-102.89)"/>
          <path d="M330.31,315.82h0a38.11,38.11,0,0,1-38.11-38.11V163.13A38.11,38.11,0,0,1,330.31,125h0a38.11,38.11,0,0,1,38.11,38.11V277.72A38.1,38.1,0,0,1,330.31,315.82Z" transform="translate(-102.89)"/>
          <path d="M406.52,347.53h0a38.11,38.11,0,0,1-38.11-38.11V194.84a38.11,38.11,0,0,1,38.11-38.11h0a38.11,38.11,0,0,1,38.11,38.11V309.43A38.1,38.1,0,0,1,406.52,347.53Z" transform="translate(-102.89)"/>
          <path d="M475.15,398.8h0A38.11,38.11,0,0,1,437,360.69V247.06A38.11,38.11,0,0,1,475.15,209h0a38.11,38.11,0,0,1,38.11,38.11V360.7A38.12,38.12,0,0,1,475.15,398.8Z" transform="translate(-102.89)"/>
          <circle cx="251.34" cy="356.21" r="159.02"/>
          <path d="M198.12,272.21s6.09,7.67,15.34,2.64c6.68-3.63,6.11-15.21,6.11-15.21l5.77-2.44v46.34h-16.5L193.73,274.7Z" transform="translate(-102.89)"/>
        </svg>
        <svg class="lock" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><!--! Font Awesome Pro 6.2.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2022 Fonticons, Inc. --><path d="M144 144v48H304V144c0-44.2-35.8-80-80-80s-80 35.8-80 80zM80 192V144C80 64.5 144.5 0 224 0s144 64.5 144 144v48h16c35.3 0 64 28.7 64 64V448c0 35.3-28.7 64-64 64H64c-35.3 0-64-28.7-64-64V256c0-35.3 28.7-64 64-64H80z"/></svg>
      </div>
    </button>
  </div>
  <div class="grid-item grid-item-9"></div>
  <div class="grid-item grid-item-10"></div>
  <div class="grid-item grid-item-11"></div>
  <div class="grid-item grid-item-12"></div>
  <div class="grid-item grid-item-13"></div>
  <div class="grid-item grid-item-14"></div>
  <div class="grid-item grid-item-15"></div>
  <div class="grid-item grid-item-16"></div>
  <div class="grid-item grid-item-17"></div>
  <div class="grid-item grid-item-18"></div>
  <div class="grid-item grid-item-19"></div>
  <div class="grid-item grid-item-20"></div>
  <div class="grid-item grid-item-21"></div>
  <div class="grid-item grid-item-22"></div>
  <div class="grid-item grid-item-23"></div>
  <div class="grid-item grid-item-24"></div>
  <div class="grid-item grid-item-25"></div>
  <div class="grid-item grid-item-26"></div>
  <div class="grid-item grid-item-27"></div>
  <div class="grid-item grid-item-28"></div>
</div>