<header class="mockup-header">
    <div class="header-text">
      <h2 class="header-text-top">
        <span class="buy">buy </span><span class="number">0.0 </span><span class="acres">acres </span>
      </h2>
      <h2 class="header-text-bottom">
        <span class="of">of </span><span class="rainforest">rainforest</span>
      </h2>
    </div>
  <button class="header-button">
    <div class="header-button-container">
      <h4 class="header-button-pricetag">$0</h4>
      <h2 class="header-button-title">pay</h2>
    </div>
  </button>
</header>
<div class="mockup-zoom">
  <div class="zoom zoom--in"></div>
  <div class="zoom"></div>
</div>