<nav>
  <div class="nav-container">
    <div class="nav-tab">
      <div class="nav-tab-container">
        <h3 class="nav-tab-title nav-tab-title--menu">MENU</h3>
        <h3 class="nav-tab-title nav-tab-title--close">CLOSE</h3>
        <div class="burger">
          <span class="burger-line burger-line--top"></span>
          <span class="burger-line burger-line--middle"></span>
          <span class="burger-line burger-line--bottom"></span>
        </div>
      </div>
    </div>
    <div class="nav-menu">
      <ul class="menu-list">
        <li class="menu-item"><a href="/about" class="menu-link">ABOUT</a></li>
        <li class="menu-item"><a href="/contact" class="menu-link">CONTACT</a></li>
        <li class="menu-item"><a href="/how-it-works" class="menu-link">HOW IT WORKS</a></li>
        <li class="menu-item"><a href="/payment-help" class="menu-link">PAYMENT HELP</a></li>
        <li class="menu-item"><a href="/faq" class="menu-link">FAQ</a></li>
        <li class="menu-item"><a href="/privacy" class="menu-link">PRIVACY</a></li>
        <li class="menu-item"><a href="/media" class="menu-link">MEDIA</a></li>
        <li class="menu-item"><a href="/volunteer" class="menu-link">VOLUNTEER</a></li>
      </ul>
      <ul class="social-media-list">
        <li><a href="" class=""><i class="fa-brands fa-square-facebook"></i></a></li>
        <li><a href=""><i class="fa-brands fa-square-twitter"></i></a></li>
        <li><a href=""><i class="fa-brands fa-linkedin"></i></a></li>
        <li><a href=""><i class="fa-brands fa-square-youtube"></i></a></li>
      </ul>
    </div>
  </div>
</nav>