<!DOCTYPE html>
<html lang="en">
<head>
  {% include "_head.html" %}
</head>
<body>
  <header class="site-header">
    {% include "_header.html" %}
  </header>
<script>
{{ js | safe }}
</script>
</body>
</html>