*, *::before, *::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

html, body {
  height: 100%;
}

body {
  color: var(--text-color);
  background-color: var(--bg-color);
  font: 300 1rem/1.5 Roboto, sans-serif;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

input, button, textarea, select {
  font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

.nobullets {
  list-style: none;
  padding: 0;
}

a {
  color: var(--text-color);
  text-decoration: none;
}

.container {
  width: 100%;
  max-width: calc(60rem + var(--gutter) + var(--gutter));
  padding-left: var(--gutter);
  padding-right: var(--gutter);
  margin-inline: auto;
}

::-webkit-scrollbar {
  width: .5rem;
}

::-webkit-scrollbar-track {
  background-color: var(--bg-color-nav);
}

::-webkit-scrollbar-thumb {
  background-color: var(--accent);
}

.page-overlay {
  opacity: 0;
  visibility: hidden;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba($color: #000, $alpha: .35);
  transition: all .5s ease-in-out;
}

.page-overlay--active {
  opacity: 1;
  visibility: visible;
  z-index: 1;
}