:root {
    //monochrome palette
    --color-025: hsl(240, 24%, 96%);
    --color-050: hsl(240, 11%, 91%);
    --color-100: hsl(240, 6%, 83%);
    --color-200: hsl(240, 5%, 79%);
    --color-300: hsl(240, 3%, 69%);
    --color-400: hsl(240, 2%, 57%);
    --color-500: hsl(240, 1%, 39%);
    --color-600: hsl(240, 1%, 29%);
    --color-700: hsl(240, 2%, 23%);
    --color-800: hsl(240, 2%, 18%);
    --color-900: hsl(240, 3%, 11%);

    //theme palette
    --bg-color-opacity: hsla(240, 24%, 96%, 0.95);
    --bg-color-dark: var(--color-900);
    --bg-color-dark-opacity: hsl(240, 3%, 11%, .8);
    --bg-color-light: var(--color-025);
    --text-color: hsl(164, 13%, 17%);
    --text-color-nav: var(--color-025);
    --text-color-link: var(--color-800);
    --text-color-darker: var(--color-900);
    --accent: hsl(149, 82%, 44%);
    --accent-dark: #09dc84;
    --accent-opacity: hsla(149, 82%, 44%, 0.5);
    --border: var(--color-300);
    --border-opacity: hsl(149, 82%, 44%, .5);
    --border-light: var(--color-100);
    --bshadow: 0 .125rem rgba(0, 0, 0, .1);
    --accentAlt-A: rgb(250, 253, 82);
    --accentAlt-B: rgb(60, 251, 178);
    --gradient: radial-gradient(circle, rgba(254, 191, 191, 0.5) 0%,
    rgba(30, 252, 186, 0.55) 50%, rgba(189, 253, 225, 0.6) 100%);


    //fluid typography
    //min viewport @320px, font 16px, scale 1.25
    //max viewport @1920px, font 20px, scale 1.33
    --step--3: clamp(0.51rem, calc(0.51rem + 0.00vw), 0.53rem);
    --step--2: clamp(0.64rem, calc(0.64rem + 0.01vw), 0.70rem);
    --step--1: clamp(0.80rem, calc(0.80rem + 0.01vw), 0.94rem);
    --step-0: clamp(1.00rem, calc(1.00rem + 0.02vw), 1.25rem);
    --step-1: clamp(1.25rem, calc(1.24rem + 0.04vw), 1.67rem);
    --step-2: clamp(1.56rem, calc(1.55rem + 0.06vw), 2.22rem);
    --step-3: clamp(1.95rem, calc(1.94rem + 0.09vw), 2.96rem);
    --step-4: clamp(2.44rem, calc(2.42rem + 0.13vw), 3.95rem);
    --step-5: clamp(3.05rem, calc(3.01rem + 0.19vw), 5.26rem);
    --step-6: clamp(3.82rem, calc(3.76rem + 0.27vw), 7.01rem);
    --step-7: clamp(4.77rem, calc(4.69rem + 0.39vw), 9.35rem);
    --step-8: clamp(5.96rem, calc(5.85rem + 0.55vw), 12.46rem);
    --step-9: clamp(7.45rem, calc(7.30rem + 0.78vw), 16.61rem);
    --step-10: clamp(6.19rem, calc(3.00rem + 15.95vw), 22.14rem);

    //fluid spacing
    --space-3xs: clamp(0.25rem, calc(0.25rem + 0.01vw), 0.31rem);
    --space-2xs: clamp(0.50rem, calc(0.50rem + 0.01vw), 0.63rem);
    --space-xs: clamp(0.75rem, calc(0.75rem + 0.02vw), 0.94rem);
    --space-s: clamp(1.00rem, calc(1.00rem + 0.02vw), 1.25rem);
    --space-m: clamp(1.50rem, calc(1.49rem + 0.03vw), 1.88rem);
    --space-l: clamp(2.00rem, calc(1.99rem + 0.04vw), 2.50rem);
    --space-xl: clamp(3.00rem, calc(2.99rem + 0.06vw), 3.75rem);
    --space-2xl: clamp(4.00rem, calc(3.98rem + 0.08vw), 5.00rem);
    --space-3xl: clamp(6.00rem, calc(5.97rem + 0.13vw), 7.50rem);
  
    /* One-up pairs */
    --space-3xs-2xs: clamp(0.25rem, calc(0.24rem + 0.03vw), 0.63rem);
    --space-2xs-xs: clamp(0.50rem, calc(0.49rem + 0.04vw), 0.94rem);
    --space-xs-s: clamp(0.75rem, calc(0.74rem + 0.04vw), 1.25rem);
    --space-s-m: clamp(1.00rem, calc(0.99rem + 0.07vw), 1.88rem);
    --space-m-l: clamp(1.50rem, calc(1.48rem + 0.08vw), 2.50rem);
    --space-l-xl: clamp(2.00rem, calc(1.97rem + 0.15vw), 3.75rem);
    --space-xl-2xl: clamp(3.00rem, calc(2.97rem + 0.17vw), 5.00rem);
    --space-2xl-3xl: clamp(4.00rem, calc(3.94rem + 0.30vw), 7.50rem);
  
    /* Custom pairs */
    --space-s-l: clamp(1.00rem, calc(0.97rem + 0.13vw), 2.50rem);
    --space-m-xl: clamp(1.50rem, calc(1.46rem + 0.19vw), 3.75rem);
    --space-l-3xl: clamp(2.00rem, calc(-0.15rem + 10.73vw), 7.50rem);
    --space-l-3xl: clamp(2.00rem, calc(1.91rem + 0.47vw), 7.50rem);
    --gutter: clamp(1.00rem, calc(1.00rem + 0.02vw), 1.25rem);
}

$font-light: 300;
$font-regular: 400;
$font-semibold: 500;
$font-bold: 600;
$font-black: 900;

$box-shadow-tab: 0 -.25rem .5rem -.125rem rgba(0, 0, 0, .35);
$box-shadow-nav: -.25rem 0 .5rem -.125rem rgba(0, 0, 0, .35);
$box-shadow-button: -.25rem .25rem .5rem 0 rgba(0, 0, 0, .35);