:root {
    //monochrome palette
    --color-025: hsl(240, 24%, 96%);
    --color-050: hsl(240, 11%, 91%);
    --color-100: hsl(240, 6%, 83%);
    --color-200: hsl(240, 5%, 79%);
    --color-300: hsl(240, 3%, 69%);
    --color-400: hsl(240, 2%, 57%);
    --color-500: hsl(240, 1%, 39%);
    --color-600: hsl(240, 1%, 29%);
    --color-700: hsl(240, 2%, 23%);
    --color-800: hsl(240, 2%, 18%);
    --color-900: hsl(240, 3%, 11%);

    //theme palette
    --bg-color-opacity: hsla(240, 24%, 96%, 0.95);
    --bg-color-dark: var(--color-900);
    --bg-color-dark-opacity: hsl(240, 3%, 11%, .8);
    --bg-color-light: var(--color-025);
    --text-color: hsl(164, 13%, 17%);
    --text-color-nav: var(--color-025);
    --text-color-link: var(--color-800);
    --text-color-darker: var(--color-900);
    --accent: hsl(149, 82%, 44%);
    --accent-dark: #09dc84;
    --accent-opacity: hsla(149, 82%, 44%, 0.5);
    --border: var(--color-300);
    --border-opacity: hsl(149, 82%, 44%, .5);
    --border-light: var(--color-100);
    --bshadow: 0 .125rem rgba(0, 0, 0, .1);
    --accentAlt-A: rgb(250, 253, 82);
    --accentAlt-B: rgb(60, 251, 178);
    --gradient: radial-gradient(circle, rgba(254, 191, 191, 0.5) 0%,
    rgba(30, 252, 186, 0.55) 50%, rgba(189, 253, 225, 0.6) 100%);


    //fluid typography
    //min viewport @320px, font 16px, scale 1.25
    //max viewport @1920px, font 20px, scale 1.33
    --step--3: clamp(0.58rem, calc(0.55rem + 0.13vw), 0.70rem);
    --step--2: clamp(0.69rem, calc(0.66rem + 0.19vw), 0.88rem);
    --step--1: clamp(0.83rem, calc(0.78rem + 0.27vw), 1.10rem);
    --step-0: clamp(1.00rem, calc(0.93rem + 0.38vw), 1.38rem);
    --step-1: clamp(1.20rem, calc(1.10rem + 0.52vw), 1.72rem);
    --step-2: clamp(1.44rem, calc(1.30rem + 0.71vw), 2.15rem);
    --step-3: clamp(1.73rem, calc(1.54rem + 0.96vw), 2.69rem);
    --step-4: clamp(2.07rem, calc(1.82rem + 1.28vw), 3.36rem);
    --step-5: clamp(2.49rem, calc(2.15rem + 1.71vw), 4.20rem);
    --step-6: clamp(2.99rem, calc(2.53rem + 2.26vw), 5.25rem);
    --step-7: clamp(3.58rem, calc(2.99rem + 2.97vw), 6.56rem);
    --step-8: clamp(4.30rem, calc(3.52rem + 3.90vw), 8.20rem);
    --step-9: clamp(5.16rem, calc(4.14rem + 5.08vw), 10.24rem);
    --step-10: clamp(6.19rem, calc(4.87rem + 6.61vw), 12.81rem);

    //fluid spacing
    --space-3xs: clamp(0.25rem, calc(0.23rem + 0.13vw), 0.38rem);
    --space-2xs: clamp(0.50rem, calc(0.46rem + 0.19vw), 0.69rem);
    --space-xs: clamp(0.75rem, calc(0.69rem + 0.31vw), 1.06rem);
    --space-s: clamp(1.00rem, calc(0.93rem + 0.38vw), 1.38rem);
    --space-m: clamp(1.50rem, calc(1.39rem + 0.56vw), 2.06rem);
    --space-l: clamp(2.00rem, calc(1.85rem + 0.75vw), 2.75rem);
    --space-xl: clamp(3.00rem, calc(2.78rem + 1.13vw), 4.13rem);
    --space-2xl: clamp(4.00rem, calc(3.70rem + 1.50vw), 5.50rem);
    --space-3xl: clamp(6.00rem, calc(5.55rem + 2.25vw), 8.25rem);
    --space-4xl: clamp(9.00rem, calc(8.32rem + 3.38vw), 12.38rem);
    --space-5xl: clamp(12.00rem, calc(11.10rem + 4.50vw), 16.50rem);
  
    /* One-up pairs */
    --space-3xs-2xs: clamp(0.25rem, calc(0.16rem + 0.44vw), 0.69rem);
    --space-2xs-xs: clamp(0.50rem, calc(0.39rem + 0.56vw), 1.06rem);
    --space-xs-s: clamp(0.75rem, calc(0.63rem + 0.63vw), 1.38rem);
    --space-s-m: clamp(1.00rem, calc(0.79rem + 1.06vw), 2.06rem);
    --space-m-l: clamp(1.50rem, calc(1.25rem + 1.25vw), 2.75rem);
    --space-l-xl: clamp(2.00rem, calc(1.58rem + 2.13vw), 4.13rem);
    --space-xl-2xl: clamp(3.00rem, calc(2.50rem + 2.50vw), 5.50rem);
    --space-2xl-3xl: clamp(4.00rem, calc(3.15rem + 4.25vw), 8.25rem);
    --space-3xl-4xl: clamp(6.00rem, calc(4.72rem + 6.38vw), 12.38rem);
    --space-4xl-5xl: clamp(9.00rem, calc(7.50rem + 7.50vw), 16.50rem);
  
    /* Custom pairs */
    --space-s-l: clamp(1.00rem, calc(0.65rem + 1.75vw), 2.75rem);
    --space-m-xl: clamp(1.50rem, calc(0.98rem + 2.63vw), 4.13rem);
    --space-l-3xl: clamp(2.00rem, calc(0.75rem + 6.25vw), 8.25rem);
    --space-xl-3xl: clamp(3.00rem, calc(1.95rem + 5.25vw), 8.25rem);
    --space-xl-4xl: clamp(3.00rem, calc(1.13rem + 9.38vw), 12.38rem);
    --space-3xl-5xl: clamp(6.00rem, calc(3.90rem + 10.50vw), 16.50rem);
    --gutter: clamp(1.00rem, calc(0.93rem + 0.38vw), 1.38rem);
}

$font-light: 300;
$font-regular: 400;
$font-semibold: 500;
$font-bold: 600;
$font-black: 900;

$box-shadow-tab: 0 -.25rem .5rem -.125rem rgba(0, 0, 0, .35);
$box-shadow-nav: -.25rem 0 .5rem -.125rem rgba(0, 0, 0, .35);
$box-shadow-button: -.25rem .25rem .5rem 0 rgba(0, 0, 0, .35);