<!DOCTYPE html>
<html lang="en">
<head>
  {% include "_head.html" %}
</head>
<body class="page--{% if page.fileSlug %}{{ page.fileSlug }}{% else %}home{% endif %}">

{% include "_logo.html" %}
{% include "_navigation.html" %}
{% include "_left-bar.html" %}

{% if tag == 'subPage' %}
  {% include "_banner.html" %}
  {% include "_article.html" %}
{% endif %}

  {{ content | safe }}

  <footer class="site-footer">
    {% include "_footer.html" %}
  </footer>
{% set js %}
  {% include "_main.js" %}
{% endset %}
<script>
{{ js | safe }}
</script>
</body>
</html>