.article {
  background-color: var(--bg-color-opacity);
  padding-top: var(--space-l);
  padding-bottom: var(--space-l);
  border-radius: 1rem 1rem 0 0;

  &__title {
    font-size: var(--step-4);
    line-height: .75;
    font-weight: $font-black;
    position: sticky;
    top: clamp(5rem, calc(4.5rem + 12vw), 14rem);
    height: 0;
    width: fit-content;
    padding-top: var(--gutter);
    transform: rotate(-90deg) translateY(0) translateX(-100%);
    transform-origin: top left;

    @include xl {
      margin-left: var(--space-xs);
    }
  }

  p {
    font-size: var(--step-0);
    margin-bottom: var(--space-s);
    padding-left: var(--space-xl-2xl);
    
    &:last-of-type {
      margin-bottom: 0;
    }
  }
}