.article {
  background-color: var(--bg-color-opacity);
  padding-top: var(--space-xl-4xl);
  padding-bottom: var(--space-xl-4xl);
  border-radius: 1rem 0 0 0;
  
  @include lg {
    margin-left: var(--space-xs);
  }

  &__title {
    font-size: var(--step-5);
    line-height: .75;
    font-weight: $font-black;
    position: fixed;
    bottom: 0;
    height: 0;
    width: fit-content;
    padding-top: var(--gutter);
    transform: rotate(-90deg) translateY(0) translateX(0%);
    transform-origin: top left;
  }

  &__text {
    margin-left: var(--space-xl-3xl);
    margin-bottom: var(--space-xl-3xl);
    max-width: clamp(40rem, 45vw, 45rem);

    &:last-of-type {
      margin-bottom: 0;
    }

    @include lg {
      margin-left: 0;
      padding-left: var(--space-l);
      border-left: .0625rem solid var(--text-color);
      margin-left: auto;
      margin-right: auto;
    }

    h3, h4 {
      font-size: var(--step-0);
      font-weight: $font-semibold;
    }

    h3 {
      margin-bottom: var(--space-s);
    }

    h4 {
      text-transform: capitalize;
    }

    p {
      font-size: var(--step-0);
      margin-bottom: var(--space-s);
      max-width: clamp(40rem, 45vw, 45rem);
      
      &:last-of-type {
        margin-bottom: 0;
      }
    }

    .highlight,
    a {
      color: var(--accent-dark);
      font-weight: $font-semibold;
    }

    ul {
      margin-bottom: var(--space-s);
    }

  }

}