.page--about {
  background-image: url(/assets/img/about.jpg);
}

.page--volunteer {
  background-image: url(/assets/img/volunteer.jpg);
}

.page--contact {
  background-image: url(/assets/img/contact.jpg);
}

.page--howitworks {
  background-image: url(/assets/img/how-it-works.jpg);
}

.page--paymenthelp {
  background-image: url(/assets/img/payment.jpg);
}

.page--faq {
  background-image: url(/assets/img/faq.jpg);
}

.page--privacy {
  background-image: url(/assets/img/privacy.jpg);
}

.page--media {
  background-image: url(/assets/img/media.jpg);
}

.page--volunteer {
  background-image: url(/assets/img/volunteer.jpg);
}


.page--about,
.page--volunteer {
  background-position: top;
  background-size: cover;
  background-attachment: fixed;
}

.banner {
  // min-height: 25vh;

  .container {
    padding-top: var(--space-xl);
    padding-bottom: var(--space-xl);
  }

  h1 {
    font-size: var(--step-2);
    padding-left: var(--space-xl-3xl);
    text-shadow: 0 0 .5rem #fff, 0 0 10px #fff, 0 0 21px #fff, 0 0 42px rgb(238 241 240), 0 0 82px rgb(234 237 236), 0 0 92px rgb(216 217 217), 0 0 102px rgb(228 232 231), 0 0 151px rgb(211 218 216);

    @include xl {
      padding-left: 0;
    }
  }
}