.page--about {
  background-image: url(/assets/img/about.jpg);
}

.page--volunteer {
  background-image: url(/assets/img/volunteer.jpg);
}

.page--about,
.page--volunteer {
  background-position: top;
  background-size: cover;
  background-attachment: fixed;
}

.banner {
  height: 45vh;
  padding-top: var(--gutter);

  h1 {
    font-size: var(--step-1);
    padding-left: var(--step-5);
  }
}