.contact-form {
  input,
  textarea,
  button {
    width: 100%;
    background-color: var(--bg-color-opacity);
    border-width: 1px;
  }

  textarea {
    height: var(--space-4xl-5xl);
  }
}

.volunteer-checklist {
  padding: 0;
  margin-top: var(--space-s);
  list-style-type: none;

  input[type=checkbox] {
    transform: scale(1.25);
    accent-color: var(--accent-dark);
    margin-right: var(--space-2xs);
  }
}

.volunteer-form {
  display: flex;
  flex-direction: column;
  height: 50vh;

  input {
    background-color: var(--bg-color-opacity);
  }

  input:nth-of-type(2) {
    height: 100%;
    margin: var(--space-s) 0;
  }
}