.mockup-header {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 35vh;
  background: top/cover no-repeat url(/assets/img/home-top.png);
  padding-top: var(--space-l);

  @include xl {
    background-size: contain;
  }

  .buy,
  .number,
  .acres,
  .of,
  .rainforest {
    font-size: var(--step-4);
    text-transform: uppercase;
    font-weight: $font-semibold;
    color: var(--text-color);
    letter-spacing: -1.5px;
  }

  .buy {
    font-weight: $font-black;
  }

  .number {
    color: rgb(5, 215, 152);
    text-shadow: 0 0 10px #84ffe2
    // text-shadow: 0 0 1rem var(--text-color);
  }

  .of {
    font-size: var(--step-1);
    vertical-align: top;
  }

  .header-text-top {
    line-height: 1.2;
  }

  .header-text-bottom {
    line-height: .75;
    margin-bottom: var(--space-s);
  }

  .header-button {
    position: relative;
    border: .125rem solid var(--accentAlt-A);
    border-radius: 50%;
    padding: var(--space-2xs);
    cursor: pointer;
    background-color: transparent;
  }

  .header-button-container {
    background-color: var(--color-025);
    border-radius: 50%;
    padding: var(--space-m);
    box-shadow: $box-shadow-button;
  }

  .header-button-pricetag {
    position: absolute;
    top: 30%;
    right: 0;
    translate: 25% -50%;
    font-size: var(--step--1);
    background-color: var(--accentAlt-A);
    padding: 0 var(--space-2xs);
    border-radius: .5rem;
  }

  .header-button-title {
    text-transform: uppercase;
  }
}

body.page--home {
  background: center/contain no-repeat, url(/assets/img/home-tile.png);
}

.mockup-zoom {
  position: fixed;
  left: 0;
  bottom: 0;
  display: inline-block;
  border: .0625rem solid var(--color-025);
  border-radius: .75rem;
  margin-left: var(--gutter);
  margin-bottom: var(--gutter);

  .zoom {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: var(--space-xl);
    height: var(--space-xl);
    font-size: var(--step-0);
    cursor: pointer;

    &::before,
    &::after {
      content: '';
      position: absolute;
      height: .0625rem;
      width: 1.5em;
      background-color: var(--color-025);
    }
  }

  .zoom--in::after {
    transform: rotate(90deg);
  }

  .zoom--in {
    border-bottom: .0625rem solid var(--color-025);
  }
}