.nav-wrapper {
  position: fixed;
  right: 0;
  width: min(85vw, 30rem);
  max-width: calc(60rem + var(--gutter) + var(--gutter));
  margin: 0 auto;
  transform: translateX(100%);
  transition: transform .5s;
  height: 100%;
  background-color: var(--bg-color-nav);
}

nav {
  position: relative;
  display: flex;
  align-items: flex-end;
  justify-content: right;
  height: 100%;

  .nav-tab {
    position: absolute;
    left: 0;
    transform: rotate(-90deg);
    transform-origin: bottom left;
  }

  .nav-tab-container {
    position: relative;
    display: flex;
    align-items: center;
    gap: var(--space-2xs);
    background-color: var(--bg-color-nav);
    padding: var(--space-2xs) var(--space-xs);
    margin-left: var(--space-s);
    border-radius: 1rem 1rem 0 0;

    &::after {
      position: absolute;
      content: '';
      right: 100%;
      bottom: 0;
      background-color: transparent;
      width: 1rem;
      height: 2rem;
      border-bottom-right-radius: 1rem;
      box-shadow: 0 1rem 0 var(--bg-color-nav);
    }

    &::before {
      position: absolute;
      content: '';
      left: 100%;
      bottom: 0;
      background-color: transparent;
      width: 2rem;
      height: 2rem;
      border-bottom-left-radius: 1rem;
      box-shadow: 0 1rem 0 var(--bg-color-nav);
    }
  }

  .nav-tab-title {
    font-size: var(--step-1);
    color: var(--text-color-nav);
  }

  .burger {
    position: relative;
    height: 1.25rem;
    width: 2rem;
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
    user-select: none;

    .burger-line {
      display: block;
      position: absolute;
      right: 0;
      width: 1.5rem;
      height: .125rem;
      background-color: var(--text-color-nav);
      transition: .5s ease-in-out;
    }

    .burger-line--top {
      top: 0;
    }

    .burger-line--middle {
      top: .5rem;

    }

    .burger-line--bottom {
      top: 1rem;
    }
  }

  .nav-menu {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    width: 100%;
    padding: var(--gutter);
  }

  .menu-list {
    list-style-type: none;
    padding: 0;
  }

  .menu-item {
    margin-bottom: calc(var(--gutter)/2);
    text-align: right;
  }

  .menu-link {
    font-size: var(--step-2);
    font-weight: $font-bold;
    color: var(--text-color-nav);
  }

  .social-media-list {
    display: flex;
    justify-content: right;
    list-style-type: none;

    li {
      margin-left: var(--space-xs);
    }

    i {
      font-size: var(--step-3);
      color: var(--text-color-nav);
    }
  }

  .menu-link:hover,
  i:hover {
    color: var(--accent);
  }
}

.menu-open {
  transform: translateX(0);
  box-shadow: $box-shadow;
}