.nav-wrapper {
  position: fixed;
  right: 0;
  width: min(82.55vw, 30rem);
  margin: 0 auto;
  transform: translateX(100%);
  transition: transform .5s;
  height: 100%;
  background-color: var(--bg-color-nav);
  box-shadow: 0 -4px 0.5rem -0.125rem rgb(0 0 0 / 35%);
}

nav {
  position: relative;
  display: flex;
  align-items: flex-end;
  justify-content: right;
  height: 100%;  
}

.nav-tab {
  position: absolute;
  left: 0;
  margin-bottom: var(--space-xl);
  transform: rotate(-90deg);
  transform-origin: bottom left;
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
  background-color: var(--bg-color-nav);
  border-radius: 1rem 1rem 0 0;
  box-shadow: -4px -4px 0.5rem -.125rem rgb(0 0 0 / 35%);
}

.nav-tab-container {
  position: relative;
  display: flex;
  align-items: center;
  padding: var(--space-xs) var(--space-s);
  box-shadow: 0 1rem 0 var(--bg-color-nav);

  &::before {
    left: 100%;
    border-bottom-left-radius: 1rem;
  }

  &::after {
    right: 100%;
    border-bottom-right-radius: 1rem;
  }

  &::before,
  &::after {
    position: absolute;
    content: '';
    bottom: 0;
    background-color: transparent;
    width: 1rem;
    height: 2rem;
    box-shadow: 0 1rem 0 var(--bg-color-nav);
  }

}

.nav-tab-title {
  font-size: var(--step-0);
  color: var(--text-color-nav);
  line-height: 1;
  width: clamp(3.34rem, 3.8vw, 3.8rem);
  justify-content: center;
}

.nav-tab-title--close {
  display: none;
}

.burger {
  position: relative;
  height: var(--step-0);
  width: var(--step-0);
  user-select: none;
  transform: rotate(90deg);
  margin-left: var(--space-xs);

  .burger-line {
    display: block;
    position: absolute;
    right: 0;
    width: var(--step-0);
    height: .125rem;
    background-color: var(--text-color-nav);
    transition: .5s;
  }

  .burger-line--top {
    top: 0;
  }

  .burger-line--middle {
    top: .375rem;

  }

  .burger-line--bottom {
    top: .75rem;
  }
}

.x.burger {
  .burger-line--top,
  .burger-line--middle {
    transform: rotate(-45deg);
  }

  .burger-line--middle {
    opacity: 0;
  }

  .burger-line--bottom {
    transform: rotate(45deg);
  }

  .burger-line--top,
  .burger-line--bottom {
    top: .35rem;
  }
}

.nav-menu {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  width: 100%;
  padding: var(--gutter);
}

.menu-list {
  list-style-type: none;
  padding: 0;
}

.menu-item {
  margin-bottom: var(--space-s);
  text-align: right;
}

.menu-link {
  font-size: var(--step-1);
  font-weight: $font-bold;
  color: var(--text-color-nav);
}

.social-media-list {
  display: flex;
  justify-content: right;
  list-style-type: none;

  li {
    margin-left: var(--space-xs);
  }

  i {
    font-size: var(--step-2);
    color: var(--text-color-nav);
  }
}

.menu-link:hover,
i:hover {
  color: var(--accent);
}

.menu-open {
  transform: translateX(0);
  box-shadow: $box-shadow;
}